{% extends 'base.html' %}

{% block title %}Delete{% endblock %}
{% block content %}
     <div class = "row justify-content-center pt-5 pb-5">
        <div class = "task">
            <h1>Удаление задачи</h1>
            <h2><strong>Описание задачи:</strong> {{ task.description }}</h2>
            <h5>Вы уверены, что хотите удалить выбранную задачу?</h5>
            <form method="POST" action="{% url 'action_delete' task.pk %}">
                {% csrf_token %}
                <div class = "btn-group pl-5">
                    <input type="submit" class  = 'btn btn-outline-warning' value="Confirm">
                    <a type="submit" class  = 'btn btn-outline-warning' href="{% url 'task_view' task.pk %}">Cancel</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}